@using WebTickets.Repo;
@model WebTickets.RequestModel
@{
    ViewBag.Title = "Index";
}

<table border="1">
    <thead>
        <tr>
            <td>问题描述</td>
            <td>锐捷提示截图</td>
            <td>紧急情况</td>
            <td>联系电话</td>
            <td>所在位置</td>
            <td>期待处理时间</td>
            <td>处理状态</td>
        </tr>
    </thead>
    <tbody>

        @{
            var requestRepo = new RequestRepo();
        }
        @foreach (var request in requestRepo.GetAll())
        {
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        }

    </tbody>
</table>
