
@{
    ViewBag.Title = "Introduction";
}
<!-- /css -->
<link rel="stylesheet" type="text/css" href="~/Css/MaintainerIntroduction.css" />
<!-- Team Members -->
<section class="team">
    <div class="col-lg-12">
        <h3 class="page-header text-center" style="text-align:center; letter-spacing: 10px;">
            维修骑士
        </h3>
    </div>

    <div class="row">

        <div class="col-md-4 col-sm-6 text-center">
            <div class="thumbnail">
                <div class="hover01 column">
                    <div>
                        <figure><img class="img-responsive" src="~/Content/team-img1.jpg" alt=""></figure>
                    </div>
                </div>
                <div class="caption">
                    <h4>石婕</h4>
                    <p class="team-w3ls">网络161班</p>
                    <p class="team-w3agile">评价等级：五星      &nbsp; &nbsp;历史接单：50单</p>

                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 text-center">
            <div class="thumbnail">
                <div class="hover01 column">
                    <div>
                        <figure><img class="img-responsive" src="~/Content/team-img2.jpg" alt=""></figure>
                    </div>
                </div>
                <div class="caption">
                    <h4>齐亚楠</h4>
                    <p class="team-w3ls">网络162班</p>
                    <p class="team-w3agile">评价等级：五星      &nbsp; &nbsp;历史接单：50单 </p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 text-center">
            <div class="thumbnail">
                <div class="hover01 column">
                    <div>
                        <figure><img class="img-responsive" src="~/Content/team-img3.jpg" alt=""></figure>
                    </div>
                </div>
                <div class="caption">
                    <h4>张三</h4>
                    <p class="team-w3ls">计算机161班</p>
                    <p class="team-w3agile">评价等级：五星      &nbsp; &nbsp;历史接单：50单</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 text-center">
            <div class="thumbnail">
                <div class="hover01 column">
                    <div>
                        <figure><img class="img-responsive" src="~/Content/team-img4.jpg" alt=""></figure>
                    </div>
                </div>
                <div class="caption">
                    <h4>李四</h4>
                    <p class="team-w3ls">计算机162班</p>
                    <p class="team-w3agile">评价等级：五星      &nbsp; &nbsp;历史接单：50单</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 text-center">
            <div class="thumbnail">
                <div class="hover01 column">
                    <div>
                        <figure><img class="img-responsive" src="~/Content/team-img5.jpg" alt=""></figure>
                    </div>
                </div>
                <div class="caption">
                    <h4>小天使</h4>
                    <p class="team-w3ls">计算机162班</p>
                    <p class="team-w3agile">评价等级：五星      &nbsp; &nbsp;历史接单：50单</p>

                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 text-center">
            <div class="thumbnail">
                <div class="hover01 column">
                    <div>
                        <figure><img class="img-responsive" src="~/Content/team-img6.jpg" alt=""></figure>
                    </div>
                </div>
                <div class="caption">
                    <h4>小可爱</h4>
                    <p class="team-w3ls">计算机161班</p>
                    <p class="team-w3agile">评价等级：五星      &nbsp; &nbsp;历史接单：50单</p>
                </div>
            </div>
        </div>
    </div>

</section>


