
@{
    ViewBag.Title = "Introduction";
}
<link rel="stylesheet" type="text/css" href="~/Css/TeacherIntroduction.css" />
<h1 style="text-align: center;margin-top: 30px;">网络中心管理教师</h1>
<h3>维修骑士解决不了的事情，可以咨询老师奥</h3>
<section class="teacher">
    <div class="zmxcontainer">
        <div class="zmxrow">
            <div class="zmxcol-lg-3 zmxcol-md-3 zmxcol-sm-6 trend-w3layouts">
                <div class="zmxview zmxview-seventh">
                    <img src="~/Content/trend-img1.jpg" alt="w3layouts" class="zmximg-responsive" />
                    <div class="zmxmask">
                        <h4>鹏峰</h4>
                        <p>大连工业大学网络中心主要负责人，至于什么其他的，我也不太清楚奥， </p>
                        <a href="blog-post.html" class="info">办公室b座</a>
                    </div>
                </div>
                <h5>哈哈哈哈</h5>
                <p class="teacher-des">愿我这一生，一直向前永不回头，永远不会走曾经走过的路.</p>
            </div>

            <div class="zmxcol-lg-3 zmxcol-md-3 zmxcol-sm-6 trend-w3layouts">
                <div class="zmxview zmxview-seventh">
                    <img src="~/Content/trend-img2.jpg" alt="w3layouts" class="zmximg-responsive" />
                    <div class="zmxmask">
                        <h4>鹏峰</h4>
                        <p>大连工业大学网络中心主要负责人，至于什么其他的，我也不太清楚奥， </p>
                        <a href="blog-post.html" class="info">办公室b座</a>
                    </div>
                </div>
                <h5>哈哈哈哈</h5>
                <p class="teacher-des">愿我这一生，一直向前永不回头，永远不会走曾经走过的路.</p>
            </div>

            <div class="zmxcol-lg-3 zmxcol-md-3 zmxcol-sm-6 trend-w3layouts">
                <div class="zmxview zmxview-seventh">
                    <img src="~/Content/trend-img3.jpg" alt="w3layouts" class="zmximg-responsive" />
                    <div class="zmxmask">
                        <h4>鹏峰</h4>
                        <p>大连工业大学网络中心主要负责人，至于什么其他的，我也不太清楚奥，</p>
                        <a href="blog-post.html" class="info">办公室b座</a>
                    </div>
                </div>
                <h5>哈哈哈哈</h5>
                <p class="teacher-des">愿我这一生，一直向前永不回头，永远不会走曾经走过的路.</p>
            </div>

            <div class="zmxcol-lg-3 zmxcol-md-3 zmxcol-sm-6 trend-w3layouts">
                <div class="zmxview zmxview-seventh">
                    <img src="~/Content/trend-img4.jpg" alt="w3layouts" class="zmximg-responsive" />
                    <div class="zmxmask">
                        <h4>鹏峰</h4>
                        <p>大连工业大学网络中心主要负责人，至于什么其他的，我也不太清楚奥，</p>
                        <a href="blog-post.html" class="info">办公室b座</a>
                    </div>
                </div>
                <h5>哈哈哈哈</h5>
                <p class="teacher-des">愿我这一生，一直向前永不回头，永远不会走曾经走过的路.</p>
            </div>

        </div>
    </div>
    <div class="zmxcontainer">
        <div class="zmxrow">
            <div class="zmxcol-lg-3 zmxcol-md-3 zmxcol-sm-6 zmxtrend-w3layouts">
                <div class="zmxview zmxview-seventh">
                    <img src="~/Content/trend-img3.jpg" alt="w3layouts" class="img-responsive" />
                    <div class="zmxmask">
                        <h4>噢噢噢噢</h4>
                        <p>愿你三冬暖，春不寒。愿你天黑有灯，下雨有伞。愿你这一生，有良人相伴。</p>
                        <a href="blog-post.html" class="info">办公室b座324</a>
                    </div>
                </div>
                <h5>此处乱写呀</h5>
                <p class="teacher-des">愿我这一生，一直向前永不回头，永远不会走曾经走过的路.</p>
            </div>
            <div class="zmxcol-lg-3 zmxcol-md-3 zmxcol-sm-6 zmxtrend-w3layouts">
                <div class="zmxview zmxview-seventh">
                    <img src="~/Content/trend-img1.jpg" alt="w3layouts" class="img-responsive" />
                    <div class="zmxmask">
                        <h4>噢噢噢噢</h4>
                        <p>愿你三冬暖，春不寒。愿你天黑有灯，下雨有伞。愿你这一生，有良人相伴。</p>
                        <a href="blog-post.html" class="info">办公室b座324</a>
                    </div>
                </div>
                <h5>此处乱写呀</h5>
                <p class="teacher-des">愿我这一生，一直向前永不回头，永远不会走曾经走过的路.</p>
            </div>
            <div class="zmxcol-lg-3 zmxcol-md-3 zmxcol-sm-6 zmxtrend-w3layouts">
                <div class="zmxview zmxview-seventh">
                    <img src="~/Content/trend-img2.jpg" alt="w3layouts" class="img-responsive" />
                    <div class="zmxmask">
                        <h4>噢噢噢噢</h4>
                        <p>愿你三冬暖，春不寒。愿你天黑有灯，下雨有伞。愿你这一生，有良人相伴。</p>
                        <a href="blog-post.html" class="info">办公室b座324</a>
                    </div>
                </div>
                <h5>此处乱写呀</h5>
                <p class="teacher-des">愿我这一生，一直向前永不回头，永远不会走曾经走过的路.</p>
            </div>
            <div class="zmxcol-lg-3 zmxcol-md-3 zmxcol-sm-6 zmxtrend-w3layouts">
                <div class="zmxview zmxview-seventh">
                    <img src="~/Content/trend-img4.jpg" alt="w3layouts" class="img-responsive" />
                    <div class="zmxmask">
                        <h4>噢噢噢噢</h4>
                        <p>愿你三冬暖，春不寒。愿你天黑有灯，下雨有伞。愿你这一生，有良人相伴。</p>
                        <a href="blog-post.html" class="info">办公室b座324</a>
                    </div>
                </div>
                <h5>此处乱写呀</h5>
                <p class="teacher-des">愿我这一生，一直向前永不回头，永远不会走曾经走过的路.</p>
            </div>
        </div>
    </div>
</section>


