body {
    background: #ffffff;
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    overflow-x: hidden;
}


/*---------------------------------------
            Typorgraphy
        -----------------------------------------*/

h1, h2, h3, h4, h5, h6 {
    font-style: normal;
    font-weight: 300;
    letter-spacing: 0.5px;
}

h1 {
    font-size: 62px;
    padding-bottom: 14px;
    margin-bottom: 0px;
}

h2 {
    font-size: 32px;
    line-height: 40px;
}

h3 {
    font-size: 26px;
}

h4 {
    color: #666;
    font-size: 12px;
    font-weight: normal;
    letter-spacing: 2px;
}

p {
    color: #777;
    font-size: 15px;
    font-weight: 300;
    line-height: 26px;
    letter-spacing: 0.2px;
}

strong {
    font-weight: 400;
}

.btn-success:focus {
    background-color: #000;
    border-color: transparent;
}



/*---------------------------------------
            Main Navigation
        -----------------------------------------*/

.navbar-default {
    background: white;
    padding: 18px 0;
    border: none;
    margin-top: 62px;
}

    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        border-color: transparent;
    }

    .navbar-default .navbar-brand {
        padding-top: 6px;
    }

        .navbar-default .navbar-brand .fa {
            color: #000;
            font-size: 42px;
        }

    .navbar-default .navbar-nav li a {
        color: #777;
        font-size: 16px;
        letter-spacing: 1px;
        -webkit-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
        padding-right: 22px;
        padding-left: 22px;
    }

    .navbar-default .navbar-nav > li a:hover {
        color: #333 !important;
    }

    .navbar-default .navbar-nav > li > a:hover,
    .navbar-default .navbar-nav > li > a:focus {
        color: #777;
        background-color: transparent;
    }

    .navbar-default .navbar-nav li a:hover,
    .navbar-default .navbar-nav .active > a {
        color: #333;
    }

    .navbar-default .navbar-nav > .active > a,
    .navbar-default .navbar-nav > .active > a:hover,
    .navbar-default .navbar-nav > .active > a:focus {
        color: #333;
        background-color: transparent;
    }

    .navbar-default .navbar-toggle {
        border: none;
        padding-top: 10px;
    }

        .navbar-default .navbar-toggle .icon-bar {
            background: #bdc3c7;
            border-color: transparent;
        }

        .navbar-default .navbar-toggle:hover,
        .navbar-default .navbar-toggle:focus {
            background-color: transparent;
        }



/*---------------------------------------
            Home section
        -----------------------------------------*/

#home {
    background-size: cover;
    background-position: center center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    text-align: center;
    padding-top: 40px;
    //六块图距离字的距离 padding-bottom: 40px;
}

    #home hr {
        width: 82px;
        margin-top: 32px;
    }




/*---------------------------------------
           Portfolio section
        -----------------------------------------*/

#portfolio small {
    color: #f0f0f0;
    font-size: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

#portfolio .portfolio-thumb {
    position: relative;
    padding: 0;
    margin-top: 32px;
}

    #portfolio .portfolio-thumb .portfolio-overlay {
        position: absolute;
        background: #222;
        color: #ffffff;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        vertical-align: top;
        opacity: 0;
        transition: all 0.4s ease-in-out;
    }

#portfolio .portfolio-item {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

#portfolio .portfolio-thumb:hover .portfolio-overlay {
    opacity: 0.9;
}

#portfolio .text-center {
    padding-top: 62px;
}

.col-md-12,
.col-md-4,
.col-md-6,
.col-sm-12,
.col-sm-6 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px
}

.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9 {
    float: left
}

.col-sm-12 {
    width: 100%
}


.col-md-12,
.col-md-4,
.col-md-6 {
    float: left
}

.col-md-12 {
    width: 100%
}

.col-md-6 {
    width: 50%
}

.col-md-4 {
    width: 33.33333333%
}

.col-md-2 {
    width: 16.66666667%
}
