<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.placeholder.min.js"></script>
<script src="js/jquery.waypoints.min.js"></script>
<script src="js/main.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.0/jquery.min.js"></script>
<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="~/Css/AdministratorIndex.css" />
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <form action="/Register/SaveRegisterData" method="post" class="fh5co-form animate-box" data-animate-effect="fadeIn">
                    <h2>Add</h2>
                    <div class="form-group">
                        <label class="sr-only">Name</label>
                        <input type="text" class="form-control" id="Name" placeholder="请输入您的名字" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label class="sr-only">账号</label>
                        <input type="text" class="form-control" placeholder="请输入工号" name="RuijieId" id="RuiJieId" />
                    </div>
                    <div class="form-group">
                        <label class="sr-only">Password</label>
                        <input type="password" class="form-control" id="Password"name="Password" placeholder="请设置您的密码" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label class="sr-only">Re-type Password</label>
                        <input type="password" class="form-control" id="confirmPassword" placeholder="重新确认您的密码" autocomplete="off">
                        <span id="password-error-massage" style="color: darkgreen; display: none">The passwords do not match. Please enter them again</span>
                    </div>
                    <div class="form-group">
                        <label class="sr-only">座机</label>
                        <input type="tel" class="form-control" placeholder="请输入您的座机" name="TelePhone" id="TelePhone" />
                    </div>

                    <div class="form-group">
                        <label class="sr-only">手机号</label>
                        <input type="tel" class="form-control" placeholder="请输入您的常用联系方式" name="MobilePhone" id="MobilePhone" />
                    </div>
                    <div class="form-group">
                        <input id="Role" name="Role" value="2" />
                        <input id="auditUser" name="AuditStatus" value="1" />
                        <input type="submit" value="submit" class="btn btn-primary">
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
@section scripts{
    <script>
        $(function () {
            $("#Role").hide();
            $("#auditUser").hide();
            $("#confirmPassword").blur(function () {
                var password = $("#password").val();
                var confirmPassword = $("#confirmPassword").val();
                if (password != confirmPassword) {
                    $("#password-error-massage").show();
                    $("#btn-primary").hide();
                } else {
                    $("#password-error-massage").hide();
                    $("#btn-primary").show();
                }
            })
        })
    </script>
}