@{
    ViewBag.Title = "登录页";
}
@model WebTickets.UserModel

<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.placeholder.min.js"></script>
<script src="js/jquery.waypoints.min.js"></script>
<script src="js/main.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.0/jquery.min.js"></script>
<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="~/Css/LoginIndex.css" />
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <form action="/Login/Login?ReturnUrl=@this.Request.QueryString["ReturnUrl"] " method="post" class="fh5co-form animate-box" data-animate-effect="fadeIn">
                    <h2>Sign In</h2>
                    <div class="form-group">
                        <label for="RuiJieId" class="sr-only">Username</label>
                        <input type="text" class="form-control" placeholder="请输入用户名" autocomplete="off" data-val="true" data-val-required="请输入用户名" id="ruijieId" name="RuiJieId" value="">
                        <span id="ruijieId-error-files" style="color:cornflowerblue; display: none">该用户未注册或审核中</span>
                    </div>
                    <div class="form-group">
                        <label for="Password" class="sr-only">Password</label>
                        <input type="password" class="form-control" id="password" placeholder="请输入你的密码" autocomplete="off" data-val-required="请输入密码" name="Password">
                    </div>

                    <div class="form-group">
                        <label for="IsRememberMe"><input type="checkbox" data-val="true" data-val-required="保存密码字段是必需的。" id="IsRememberMe" name="IsRememberMe" value="true" /> Remember Me</label>
                    </div>
                    <div class="form-group">
                        <p>Not registered? <a href="/Register">Sign Up</a>
                    </div>
                    <div class="form-group">
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(m => m.Id)
                        <input type="submit" id="submit"value="Sign In" class="btn btn-primary">
                    </div>
                    <div class="error-container">
                        <span class="field-validation-valid text-danger" data-valmsg-for="Name" data-valmsg-replace="true"></span>
                        <span class="field-validation-valid text-danger" data-valmsg-for="Password" data-valmsg-replace="true"></span>
                    </div>
                </form>
            </div>
        </div>

    </div>
</body>
@section scripts{
    <script>
        $(function () {
            $("#ruijieId").blur(function () {
                var ruijieId = $("#ruijieId").val();
                $.ajax(
                    {
                        type: "GET",
                        url: "/Login/CheckLoginData?ruijieId=" + ruijieId,
                        success: function (result) {
                            if (result) {
                                $("#ruijieId-error-files").show();
                                $("#submit").attr("disabled",true)
                            } else {
                                $("#ruijieId-error-files").hide();
                                $("#submit").attr("disabled", false);
                            }
                        },
                        error: function (result) {
                            alert("网络异常，通讯失败");
                        }
                    });
            });
        })
    </script>
}