@{
    ViewBag.Title = "注册页";
}
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.placeholder.min.js"></script>
<script src="js/jquery.waypoints.min.js"></script>
<script src="js/main.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.0/jquery.min.js"></script>
<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="~/Css/RegisterIndex.css" />
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <form action="/Register/SaveRegisterData" method="post" class="fh5co-form animate-box" data-animate-effect="fadeIn">
                    <h2>Sign Up</h2>
                    <div class="form-group">
                        <label for="ruiJieId" class="sr-only">账号</label>
                        <input type="text" class="form-control" placeholder="请输入学号或工号" name="RuijieId" id="ruijieId" />
                        <span id="ruijieId-error-massage" style="color:darkgreen; display: none">您输入的用户名已存在，请重新输入</span>
                    </div>
                    <div class="form-group">
                        <label for="password" class="sr-only">Password</label>
                        <input type="password" class="form-control" name="Password" id="password" placeholder="请设置您的密码" autocomplete="off">
                        <span id="password-error-massage" style="color: darkgreen; display: none">密码长度不得小于6位</span>
                    </div>
                    <div class="form-group">
                        <label class="sr-only">Re-type Password</label>
                        <input type="password" class="form-control" id="confirmPassword" placeholder="重新确认您的密码" autocomplete="off">
                        <span id="confirmPassword-error-massage" style="color: darkgreen; display: none">您输入的确认密码与密码不一致，请重新输入</span>
                    </div>
                    <div class="form-group">
                        <label class="sr-only">Name</label>
                        <input type="text" class="form-control" name="UserName" id="name" placeholder="请输入您的名字" autocomplete="off">
                        <span id="name-error-massage" style="color: darkgreen; display: none">姓名不能为空</span>
                    </div>
                    <div class="form-group">
                        <label class="Gender">性别</label>
                        <input type="radio" name="Gender" value="男" />男
                        <input type="radio" name="Gender" value="女" />女
                    </div>
                    <div class="form-group">
                        <label for="MobilePhone" class="sr-only">移动电话</label>
                        <input type="tel" class="form-control" placeholder="请输入您的常用联系方式" name="MobilePhone" id="mobilePhone" />
                        <span id="mobilePhone-error-massage" style="color: darkgreen; display: none">移动电话不能为空</span>
                    </div>
                    <div class="form-group">
                        <label class="sr-only">学院班级</label>
                        <input type="text" class="form-control" placeholder="请输入您的学院班级" id="collegeClass" name="CollegeClass" />
                        <span id="collegeClass-error-massage" style="color: darkgreen; display: none">学院班级不能为空</span>
                    </div>

                    <div class="form-group">
                        <label class="role">角色</label>
                        <input type="radio" name="Role" value="0" />用户
                        <input type="radio" name="Role" value="1" />维修骑士
                    </div>
                    <div class="form-group">
                        <p>Already registered? <a href="/Login">Sign In</a></p>
                    </div>
                    <div class="form-group">
                        <input type="button" value="Sign Up" class="btn btn-primary" id="btn-primary">
                    </div>
                </form>

            </div>
        </div>
    </div>
</body>
@section scripts{
    <script>
        $(function () {
            $("#ruijieId").blur(function () {
                var ruijieId = $("#ruijieId").val();
                $.ajax(
                    {
                        type: "GET",
                        url: "/Register/CheckData?ruijieId=" + ruijieId,
                        success: function (result) {
                            if (result) {
                                $("#ruijieId-error-massage").show();
                            } else {
                                $("#ruijieId-error-massage").hide();
                            }
                        },
                        error: function (result) {
                            alert("网络异常，通讯失败")
                        }
                    }
                );
            })
            $("#password").blur(function () {
                var password = $("#password").val();
                if (password == "" | password.length < 6) {
                    $("#password-error-massage").show();
                } else {
                    $("#password-error-massage").hide();
                }
            })
            $("#name").blur(function () {
                var name = $("#name").val();
                if (name == "") {
                    $("#name-error-massage").show();
                } else {
                    $("#name-error-massage").hide();
                }
            })
            $("#mobilePhone").blur(function () {
                var mobilePhone = $("#mobilePhone").val();
                if (mobilePhone == "") {
                    $("#mobilePhone-error-massage").show();
                } else {
                    $("#mobilePhone-error-massage").hide();
                }
            })
            $("#collegeClass").blur(function () {
                var collegeClass = $("#collegeClass").val();
                if (collegeClass == "") {
                    $("#collegeClass-error-massage").show();
                } else {
                    $("#collegeClass-error-massage").hide();
                }
            })

            $("#confirmPassword").blur(function () {
                var password = $("#password").val();
                var confirmPassword = $("#confirmPassword").val();
                if (password != confirmPassword) {
                    $("#confirmPassword-error-massage").show();
                } else {
                    $("#confirmPassword-error-massage").hide();
                }
            })
            $("#btn-primary").click(function () {
                var ruijieId = $("#ruijieId").val();
                var password = $("#password").val();
                var name = $("#name").val();
                var gender = $("input[name='Gender']:checked").val();
                var role = $("input[name='Role']:checked").val();
                var mobilePhone = $("#mobilePhone").val();
                var collegeClass = $("#collegeClass").val();
                var confirmPassword = $("#confirmPassword").val();
                if (ruijieId == "" | password == "" | name == "" | mobilePhone == "" | collegeClass == "" | confirmPassword == "" | role == "") {
                    alert("您有未填写的信息，请填完之后提交");
                } else {
                    var myObj = {
                        gender: $("input[name='Gender']:checked").val(),
                        role: $("input[name='Role']:checked").val(),
                        ruijieId: $("#ruijieId").val(),
                        password: $("#password").val(),
                        name: $("#name").val(),
                        mobilePhone: $("#mobilePhone").val(),
                        collegeClass: $("#collegeClass").val()
                    }
                    var ajaxParam = {
                        type: "POST",
                        url: "/Register/SaveRegisterData",
                        data: myObj,
                        success: function () { },
                        error: function () {
                            alert("Network error");
                        }
                    };
                    $.ajax(ajaxParam);
                    alert("您已经注册成功，请耐心等待老师审核");
                    window.location.href = "/Home/Index";
                }
            })
        })
    </script>
}