<h1>欢迎注册</h1>
<form action="/Register/SaveRegisterData" method="post">
    <label>学号或工号</label>
    <input type="text" name="RuijieId" id="ruijieId" /><br />
    <span id="ruijieId-error-massage" style="color: #FF0000; display: none">您输入的用户名已存在，请重新输入</span><br />
    <label>密码</label>
    <input type="password" name="Password" id="password" /><br /><br />
    <label>确认密码</label>
    <input type="password" id="confirmPassword" /><br />
    <span id="password-error-massage" style="color: #FF0000; display: none">您输入的确认密码与密码不一致，请重新输入</span><br />
    <label>姓名</label>
    <input type="text" name="Name" /><br /><br />
    <label>性别</label>
    <input type="radio" name="Gender" value="男" />男
    <input type="radio" name="Gender" value="女" />女<br /><br />
    <label>移动电话</label>
    <input type="tel" name="Telphone" /><br /><br />
    <label>学院班级</label>
    <input type="text" name="CollegeClass" /><br /><br />
    <label>角色</label>
    <input type="radio" name="Role" value="0"/>网信协理员
    <input type="radio" name="Role" value="1" />维修骑士<br /><br />
    <input type="submit" id="submit" value="注册" /><br>
</form>
@section scripts{
    <script>
        $(function () {
            $("#ruijieId").blur(function () {
                var ruijieId = $("#ruijieId").val();
                $.ajax(
                    {
                        type: "GET",
                        url: "/Register/CheckData?ruijieId=" + ruijieId,
                        success: function (result) {
                            if (result) {
                                $("#ruijieId-error-massage").show();
                                $("#submit").hide();
                            } else {
                                $("#ruijieId-error-massage").hide();
                                $("#submit").show();
                            }
                        },
                        error: function (result) {
                            alert("网络异常，通讯失败")
                        }
                    }
                );
            });
            $("#confirmPassword").blur(function () {
                var password = $("#password").val();
                var confirmPassword = $("#confirmPassword").val();
                if (password != confirmPassword) {
                    $("#password-error-massage").show();
                    $("#submit").hide();
                } else {
                    $("#password-error-massage").hide();
                    $("#submit").show();
                }
            })
        })
    </script>
}