@{
    /**/

    ViewBag.Title = "Home Page";
}
<!-- Main css -->
<link rel="stylesheet" type="text/css" href="~/Css/HomeIndex.css" />
<!-- Home Section -->
<section id="home">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12" style="text-align:center; margin-top:10px;">
                <h2>欢迎来到网络中心在线报修平台</h2>
                <h3>网络虽好，但不要沉迷哦~</h3>
                <hr>
            </div>

        </div>
    </div>
</section>

<!-- Portfolio Section -->
<section id="portfolio">
    <div class="container">
        <div class="row">

            <div class="col-md-4 col-sm-6">
                <a href="/Home/Problem">
                    <div class="portfolio-thumb">
                        <img src="~/Content/question.jpg" class="img-responsive" alt="Portfolio">
                        <div class="portfolio-overlay">
                            <div class="portfolio-item">
                                <h3>常见问题</h3>
                                <small>你可能可以在这解决掉自己的小问题哦</small>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-4 col-sm-6">
                <a href="/Request/index">
                    <div class="portfolio-thumb">
                        <img src="~/Content/dingdan.jpg" class="img-responsive" alt="Portfolio">
                        <div class="portfolio-overlay">
                            <div class="portfolio-item">
                                <h3>我要下单</h3>
                                <small>点击即可跳至下单页面填写订单哦</small>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-4 col-sm-6">
                <a href="/Maintainer/Introduction">
                    <div class="portfolio-thumb">
                        <img src="~/Content/Supermen.jpg" class="img-responsive" alt="Portfolio">
                        <div class="portfolio-overlay">
                            <div class="portfolio-item">
                                <h3>网络维护员</h3>
                                <small>在这里你可以选择为你为维修电脑的骑士</small>
                            </div>
                        </div>
                    </div>
                </a>
            </div>


            <div class="col-md-4 col-sm-6">
                <a href="/Teacher/Introduction">
                    <div class="portfolio-thumb">
                        <img src="~/Content/teacher.jpg" class="img-responsive" alt="Portfolio">
                        <div class="portfolio-overlay">
                            <div class="portfolio-item">
                                <h3>管理老师</h3>
                                <small>维修骑士也解决不了的问题只能请教老师咯</small>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-4 col-sm-6">
                <a href="/home/advice">
                    <div class="portfolio-thumb">
                        <img src="~/Content/advice.jpg" class="img-responsive" alt="advice">
                        <div class="portfolio-overlay">
                            <div class="portfolio-item">
                                <h3>建议邮箱</h3>
                                <small>我需要你的建议来更加完善自己</small>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-4 col-sm-6">
                <a href="">
                    <div class="portfolio-thumb">
                        <img src="~/Content/secret.jpg" class="img-responsive" alt="Portfolio">
                        <div class="portfolio-overlay">
                            <div class="portfolio-item">
                                <h3>更多机密</h3>
                                <small>这里有一些网络信息中心的新鲜事</small>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-12 col-sm-12 text-center">
                <h3>hello, if you want to give us some suggestions. just send message <a href="contact.html">advice page</a></h3>
            </div>

        </div>
    </div>
</section>

<!-- Footer Section -->

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <p>地址：大连工业大学b座219  &nbsp; &nbsp;&nbsp;</p>
            </div>

            <div class="col-md-offset-1 col-md-4 col-sm-ofmyfset-1 col-sm-3">
                <p><a href="www.baidu.com">hello@yourstudio.co</a></p>
                <p>welcome to the network center.</p>
            </div>

            <div class="clearfix col-md-12 col-sm-12">
                <hr>
            </div>

            <div class="col-md-6 col-sm-6">
                <div class="footer-copyright">
                    <p>© 2018大连工业大学网络中心          负责人：大连工业大学b128</p>
                </div>
            </div>
        </div>
    </div>
</footer>
