@{
    ViewBag.Title = "常见问题";
}
<p>
    <h1>常见问题</h1>
    1．墙上端口问题：也网络维护中最主要的问题，如墙上的端口无信号，端口接触不良、墙上模块入墙体等。
    2．电脑上的问题：此类问题也较为常见，教职工及学生对锐捷网上认证及IP 配置或者安装各种软件了解较少，导致此类非网络设备问题也需要网络中心人员去维修，需要重装系统等，增大了派工次数。
    3．交换机问题：多为交换机端口损坏，但其出现问题较少，有的老式交换
    机故障较多，工作难度大，确定是交换机的问题后，会找专门负责交换机的老
    师前去维修，有的需要更换新的交换机端口，有的真的需要安装新的交换机。
    5. 其他问题：很多为新电脑装机、报修话语不清、领导指派等工作，属于维护以外临时性工作。
</p>
<p>
    <h1>解决方案</h1>
    1：拓宽锐捷认证流程图的应用渠道，增加线上方式，顺应现在学生的查询信息的习惯。
    2:对常见的维护问题进行统计并罗列出解决办法，可供同学自己查询，减少派工量。
    3：对老式和故障较多的交换机进行定期检查，避免交换机老化故障影响老师同学上网工作学习。
</p>

<p>Use this area to provide additional information.</p>
